In [62]:
import seaborn as sns
import pandas as pd
import numpy as np

In [63]:
df = sns.load_dataset('mpg')

In [64]:
df.head(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [65]:
df.describe(include = object)

       origin        name
count     398         398
unique      3         305
top       usa  ford pinto
freq      249           6

In [66]:
df.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'name'],
      dtype='object')

In [67]:
df.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
name            0
dtype: int64

In [68]:
##no7
mp = df[df['horsepower'].isna()]
mp

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
32,25.0,4,98.0,NaN,2046,19.0,71,usa,ford pinto
126,21.0,6,200.0,NaN,2875,17.0,74,usa,ford maverick
330,40.9,4,85.0,NaN,1835,17.3,80,europe,renault lecar deluxe
336,23.6,4,140.0,NaN,2905,14.3,80,usa,ford mustang cobra
354,34.5,4,100.0,NaN,2320,15.8,81,europe,renault 18i
374,23.0,4,151.0,NaN,3035,20.5,82,usa,amc concord dl

In [69]:
print("daftar index missing values : ")

daftar index missing values :

In [70]:
mp.index

Int64Index([32, 126, 330, 336, 354, 374], dtype='int64')

In [71]:
##no8
df.groupby('origin')['horsepower'].mean()

origin
europe     80.558824
japan      79.835443
usa       119.048980
Name: horsepower, dtype: float64

In [72]:
##no9

In [73]:
df['horse_origin'] = data[if 'horsepower' <105: ]

SyntaxError: invalid syntax (2375168645.py, line 1)

In [ ]:
##no10
df.groupby('origin').agg({'weight':['mean','std','sum','count','min','max']})